# hugo gitignore

# ignore synthesised outputs
public/
resources/
static/r
static/rnf/
build
.svelte-kit

# ignore node modules
node_modules/

# ignore the hugo & mrmxf build artifacts
clogrc/core

# ignore the tmp folder but not the readme inside it
tmp/*
!tmp/readme.md


#ignore mac cruft
**/*/.DS_Store
.DS_Store
# IDE files
.idea

# VS Code - keep these
#/.vscode/**
!/.vscode/cspell.json

# vim temporary files
*~
*.sw?
